.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-top: 53px;
}

.header__nav ul{
    display: flex;
    padding-left: 400px;
    padding-top: 53px;
}

.header_nav_home{
    margin-right: 60px;
    font-weight: 500;
    font-size: 18px;
    color: #202336;
}

.header_nav_item{
    padding-right: 60px;
    font-size: 16px;
    font-family: Inter, sans-serif;
    line-height: 19px;
    font-weight: normal;
}

.header_login{
    border: 1px solid #FB8F1D;
    box-sizing: border-box;
    border-radius: 8px;
    background: #FFFFFF;
    font-size: 15px;
    color: #FB8F1D;
    margin-top: 53px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 46px;
    padding-right: 46px;
}

.header_register{
    background: #FB8F1D;
    border-radius: 8px;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 36px;
    padding-right: 36px;
    border-width: 0px;
    color: #FFFFFF;
}

 .ExploreandTravel{
    width: 356px;
    height: 160px;
    font-family: Playfair Display, sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
}
 
.HollidayFinder{
    padding-top: 74px;
    font-family: Inter ,sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 71px;
    color: #202336;
}

.fourbutton{
    font-family: Inter, sans-serif; 
    width: 220px;
    height: 52px; 
    border: 0.8px solid #AFB0B9;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 30px;
    margin-top: 35px; 
    background: #FFFFFF;
    font-size: 15px;
    padding-right: 70px;
    line-height: 32px; 
    align-items: center; 
    color: #4a4c53;
    background: url(/images/галочка.svg)  170px 20px  no-repeat;
}

.Explore{
    width: 180px;
    height: 45px;
    margin-top: 51px;
    background: #FB8F1D;
    border-radius: 8px;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 60px;
    padding-right: 60px;
    border-width: 0px;
    color: #FFFFFF;
}

.first_images{
    width: 687px;
    height: 654px;
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: -1;
}