.footer{
  padding-top: 135px;
  display: flex;
  justify-content: space-between;
}

.Sunny2020{
  margin-left: 900px;
  font-family: Mulish, sans-serif;

}

.long_line{
  margin-top: 40px;
}

.social_networks{
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 40px;
}

.sn{
  width: 50px;
  height: 20px;
}