.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo {
    flex: 0 0 40px;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.header__logo img{
    max-width: 100%;
}
.header__burger {
    display: none;
}
  /* .header__menu {
  } */
.header__list {
    display: flex;
    position:relative;
    z-index: 2;
}
.header__list li {
    list-style: none;
    margin-left: 34px;
}
.header__list a{
    line-height: 45px;
}
.header__link {
    color: #B8BECD;
    font-size: 16px;
    text-decoration: none;
    transition-duration: 0.3s;
}
.just:hover{
  font-size: 17px;
  color: #FB8F1D;
}
.home{
    color: #202336;
    transition-duration: 0.3s;
}
.home:hover{
  color: #1ABE84;
  font-size: 17px;
}

.login{
    font-size: 15px;
    font-family: 'Inter', serif;
    width: 132px;
    height: 44px;
    background-color: #fff;
    color: #FB8F1D;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    transition-duration: 0.5s, 100ms;
    transition-property: background-color, top;
    transition-delay: 0s, 0.5s;
}
.login:hover{
  top: 2px;
  background-color: #1ABE84;
  color: #fff;
  border: 1px solid #1ABE84;
}

.register{
    width: 132px;
    height: 44px;
    background: #FB8F1D;
    border-radius: 8px;
    color: #fff;
    transition-duration: 0.2s;
}
.register:hover{
  background: #1ABE84;
}
  
@media (max-width: 767px) {
    body.lock{
      overflow: hidden;
    }
    .header__body{
      height: 50px;
    }
    .header::before{
      background-color: rgb(247, 241, 232);
    }
    .header__burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
    }
    .header__burger span{
      position: absolute;
      background-color: #FB8F1D;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
      content: "";
      background-color: #1ABE84;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    .header__burger::before{
      top: 0;
    }
    .header__burger::after{
      bottom: 0;
    }
    .header__burger.active span{
      transform: scale(0);
    }
    .header__burger.active::before{
      transform: rotate(45deg);
      top: 9px;
    }
    .header__burger.active::after{
      transform: rotate(-45deg);
      bottom: 9px;
    }
    .header__menu{
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      transition: all 0.3s ease 0s;
      background-color:#4b665d;
      padding: 70px 10px 20px 10px;
    }
    .header__menu.active{
      top: 0;
    }
    .header__list{
      display: block;
    }
    .header__list li{
      margin: 0px 0px 20px 0px;
    }
    .header__link{
      font-size: 24px;
    }
}














