.intro {
    background-color: #f8f8f8;
    padding-top: 60px;
    padding-bottom: 220px;
    margin-top: 222px;
    max-height: 770px;
    
  }
  
  .intro_title {
    color: #000;
    font-family:Playfair display, sans-serif;
    font-size: 36px;
    line-height: 50px;
    width: 480px;
  }
  
  .intro_paragraph {
    color: #7d7987;
    width: 450px;
    height: 120px;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    font-family: var(--mulish);
  }
  
  .intro_button {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 16px;
    height: 48px;
    width: 164px;

    margin-top: 39px;
    background-color: #FB8F1D ;
    color: #fff;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .intro {
    display: flex;
    align-items: center;
  }
  
  .intro_image {
    padding-right: 200px;
  }
