.befor_footer{
    padding-top: 163px;
    display: flex;
    justify-content: center;
}

.futuared_destination{
    font-family: Playfair Display, sans-serif;
    font-weight: bold;
    width: 481px;
    height: 50px;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

.view_all{
    width: 64px;
    height: 60px;
    padding-top: 10px;
    padding-left: 720px;
    font-family: Inter, sans-serif;
    width: 64px;
    height: 60px;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FB8F1D;
}
    
.tick{
    padding-bottom: 30px;
    padding-left: 10px;
   
}

.photos {
    display: flex;
    justify-content: space-between;
}
  
.photo {
    position: relative;
}


.a{
    border-radius: 8px;
}
  
.photo_caption {
    font-family: Inter, sans-serif;
    position: absolute;
    color: black;
    background-color: #fff;
    border-radius: 0px 6px 0px 0px;
    left: 0;
    bottom: 0;
    height: 56px;
    width: 110px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
  
.photo_caption br {
    font-size: 17px;
}
  
.photo_caption span {
   color: #042521;
   font-size: 15px;
}